@tailwind base;
@tailwind components;
@tailwind utilities;
.react-calendar{
    width:100% !important;
    border:none !important;
    font-family:"Inter",sans-serif !important;
   
}
.react-calendar__navigation__label__labelText{
    font-weight:600 !important;
}
.rbc-btn-group:first-child{
    display:none !important;
}
.rbc-toolbar-label{
    text-align:right !important;
    padding:0 20px !important;
}
.rbc-btn-group:last-child button{
    border:none !important;
    background-color:#f1f0ff !important;
    margin-left:2px !important;

}
.rbc-toolbar button.rbc-active{
  background-color:#dbdafe !important;
  color:black !important;
}
.rbc-time-view{
    border-color:#eee !important;
}
.rbc-time-header{
    display: none !important;
}
.rbc-time-content{
    border:none !important;
    overflow:hidden !important;
    

}
.rbc-label{
    font-size:12px !important;
}
.rbc-event{
   border: none !important;
   color:black !important;
   padding: 10px !important;
   margin: 10px !important;
}
.rbc-event:nth-child(1){
    background-color:rgba(35, 193, 255, 0.293) !important;
}
.rbc-event:nth-child(2){
    background-color:rgba(255, 72, 240, 0.292) !important;
}
.rbc-event:nth-child(3){
    background-color:rgba(0, 255, 132, 0.236) !important;
}
.rbc-event:nth-child(4){
    background-color:rgba(125, 155, 255, 0.343) !important;
}
.rbc-event:nth-child(5){
    background-color:rgba(252, 255, 96, 0.42) !important;
}
.rbc-event:nth-child(6){
    background-color:rgba(203, 70, 255, 0.225) !important;
}
.rbc-event:nth-child(7){
    background-color:rgba(255, 70, 70, 0.261) !important;
}
.rbc-event:nth-child(8){
    background-color:rgba(0, 62, 87, 0.309) !important;
}
.rbc-event-label{
    color:gray!important;
    margin-bottom: 5px !important;
}